<mat-dialog-content class="mat-typography">
    <mat-card id="edit-user-card">
    <mat-card-title>Edit user</mat-card-title>
    <mat-card-content>
    <form [formGroup]="updateUserForm" (ngSubmit)="submit()">

     <div>
     <mat-form-field>
        <input type="name" matInput placeholder="Name" formControlName="name">
     </mat-form-field>
    </div>

      <div>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix matTooltip="Excepted format: (john.doe@example.com)">info</mat-icon>
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-icon matSuffix matTooltip="Password should contain at least 1 uppercase letter, 1 lowercase letter, 1 number, 1 special character and minimum 8 char length.">info</mat-icon>
        </mat-form-field>
    
      </div>

      <div>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm password" formControlName="password_confirmation">
        </mat-form-field>
      </div>
    
      <div *ngIf="error" class="error">
        {{ error }}
      </div>
    
      <div class="button">
        <button id="update-user-button" type="submit" mat-button>Save</button>
      </div>
    
    </form>
    </mat-card-content>
    <div *ngIf="failedUpdate">
      <p>Error in update process, please try again.</p>
    </div>

    </mat-card>
</mat-dialog-content>
