#new-todo-button {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: azure;
    color: black;
  }
.button {
    display: flex;
    justify-content: flex-end;
  } 