<mat-dialog-content class="mat-typography">
    <mat-card id="add-user-card">
    <mat-card-title>Add user</mat-card-title>
    <mat-card-content>
    <form [formGroup]="addForm" (ngSubmit)="submit()">

     <div>
     <mat-form-field>
        <input type="name" matInput placeholder="Name" formControlName="name">
     </mat-form-field>
    </div>

      <div>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix matTooltip="Excepted format: (john.doe@example.com)">info</mat-icon>
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-icon matSuffix matTooltip="Password should contain at least 1 uppercase letter, 1 lowercase letter, 1 number, 1 special character and minimum 8 char length.">info</mat-icon>
        </mat-form-field>
    
      </div>

      <div>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm password" formControlName="password_confirmation">
        </mat-form-field>
      </div>
    
      <div class="button">
        <button id="add-user-button" type="submit" mat-button>Add user</button>
      </div>
    
    </form>
    </mat-card-content>
    <div *ngIf="failedAdd">
      <p>Error in creating process, please try again.</p>
    </div>

    </mat-card>
</mat-dialog-content>

